.wrapper {
  position: relative;

  width: 100%;
  min-width: 280px;
  max-width: 450px;
  height: 100%;

  overflow-y: scroll;
  -ms-overflow-style: none;

  .fakeHeader {
    position: relative;
    height: 41px;
    width: 100%;
  }

  .subHeader {
    position: fixed;
    height: 40px;
    width: 100%;
    top: 41px;

    display: flex;
    border-bottom: 1px solid #e5e5e5;

    background-color: white;
    z-index: 1;

    .backArrow {
      position: relative;
      width: 24px;
      height: 24px;
      top: 8px;
      left: 10px;
    }
    .pageName {
      position: relative;
      width: 100%;
      top: 9px;
      left: -5px;
      font-size: 15px;
      text-align: center;
      margin-top: 0;
    }
  }
  .section {
    position: relative;
    border-bottom: 1px solid #e5e5e5;

    .title {
      position: relative;
      font-weight: bold;
      font-size: 11px;
      left: 10px;
    }
    .button {
      position: relative;
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 20px;
      left: 10px;
    }
    .contents {
      position: relative;
      top: -10px;
      font-size: 11px;
      left: 10px;
    }
  }
}
.wrapper::-webkit-scrollbar {
  display: none;
}
