.wrapper {
  position: relative;

  width: 100%;
  min-width: 280px;
  max-width: 450px;
  height: 100%;

  .subHeader {
    position: relative;
    height: 40px;
    width: 100%;

    display: flex;
    border-bottom: 1px solid #e5e5e5;

    background-color: white;
    z-index: 1;
    .backArrow-wrapper {
      position: relative;
      width: 48px;
      .backArrow {
        position: relative;
        width: 24px;
        height: 24px;
        top: 8px;
        left: 10px;
      }
    }
    .pageName {
      position: relative;
      width: calc(100% - 96px);
      top: 9px;
      font-size: 15px;
      text-align: center;
      margin-top: 0;
    }
  }

  .section-wrapper {
    position: relative;
    height: 100%;

    overflow-y: scroll;
    -ms-overflow-style: none;

    .section {
      position: relative;
      border-bottom: 1px solid #e5e5e5;
      padding-top: 10px;
      cursor: pointer;

      .title {
        position: relative;
        font-weight: bold;
        font-size: 11px;
        left: 10px;
      }

      .button {
        position: relative;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;

        .contents {
          position: relative;
          font-size: 11px;
        }
      }

      .button:hover {
        background: lavenderblush;
      }
    }
  }

  .section-wrapper::-webkit-scrollbar {
    display: none;
  }
}
