.articlePageWrapper {
  position: fixed;
  width: 100%;
  min-width: 320px;
  max-width: 450px;
  height: 100%;
  min-height: 568px;
  max-height: 900px;
  background-color: #ffffff;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .header {
    position: fixed;
    z-index: 2;
    background-color: transparent;
    width: 100%;
    .backButton {
      position: relative;
      width: 24px;
      height: 24px;
      margin: 15px;
    }
    .homeButton {
      position: relative;
      width: 24px;
      height: 24px;
      margin: 15px;
    }
    .shareButton {
      position: absolute;
      width: 24px;
      height: 24px;
      margin: 15px;
      right: 48px;
    }
    .reportButton {
      position: absolute;
      width: 24px;
      height: 24px;
      margin: 15px;
      right: 0;
    }
  }
  .footer {
    position: fixed;
    width: 100%;
    height: 64px;
    bottom: 0;
    background-color: #ffffff;
    .heart {
      position: relative;
      width: 24px;
      height: 24px;
      margin: 15px;
    }
    .price {
      position: relative;
      font-size: 18px;
      top: -64px;
      left: 72px;
    }
    .priceProposal {
      position: relative;
      font-size: 14px;
      color: #e97341; // 당근색
      top: -74px;
      left: 72px;
    }
    .chatButton {
      position: absolute;
      background-color: #e97341;
      color: #ffffff;
      border-radius: 5px;
      top: 20px;
      right: 15px;
    }
  }
  .contentWrapper {
    position: relative;
    top: 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .profile {
      position: relative;
      display: block;
      background-color: #ffffff;
      width: 100%;
      height: 72px;
      top: 80px;
      .profileImg {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        margin: 15px;
      }
      .userName {
        position: relative;
        font-size: 16px;
        left: 80px;
        top: -80px;
      }
      .userRegion {
        position: relative;
        font-size: 14px;
        left: 80px;
        top: -92px;
      }
      .mannerTemp {
        position: absolute;
        font-size: 16px;
        top: 0;
        right: 20px;
      }
    }
    .carousel {
      position: relative;
      width: 100%;
      height: 50%;
    }
    .article {
      position: relative;
      top: 70px;
      margin: 15px;
      .title {
        font-size: 24px;
      }
    }
  }
}

.carouselImg {
  position: relative;
  width: 100%;
  height: 500px;
}
