.wrapper {
  position: fixed;

  width: 100%;
  min-width: 280px;
  max-width: 450px;
  height: 100%;
  min-height: 568px;
  max-height: 900px;
  background: white;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    display: flex;

    p {
      margin: 0;
      padding-top: 5px;
      padding-left: 15px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .contents {
    width: 100%;
    height: calc(100% - 105px);
  }

  .footer {
    position: absolute;
    width: 100%;
    height: 55px;
    padding-top: 5px;

    display: flex;

    border-top: 1px solid #e5e5e5;
    background-color: white;

    .footerBox {
      width: 30%;
      margin-left: 3.3%;
      margin-right: 3.3%;
      height: 100%;

      .footerImg {
        position: relative;
        height: 63%;

        left: 50%;
        transform: translate(-50%);
      }
      .footerTag {
        position: relative;
        height: 33%;
        font-size: 12px;
        top: -2px;

        margin: 0;
        text-align: center;
      }
    }
  }
}

.backShadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.3s;
}

.backShadow.show {
  visibility: visible;
  background: black;
  opacity: 0.4;
  z-index: 1;
}

.test {
  background: #61dafb;
}
