.box {
  position: absolute;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: white;
  border-radius: 10px;
  padding: 10px;
  z-index: 2;

  display: block;
  .title {
    position: relative;
    left: 5%;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .contents {
    position: relative;
    left: 5%;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .confirmButton {
    position: relative;
    width: 90%;
    height: 35px;
    left: 5%;

    font-size: 14px;
    font-weight: bold;
    color: white;
    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 10px;

    background: #ff8a3d;
  }
}
