.region-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: calc(100% - 175px);
  top: 175px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  button {
    height: 60px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    background-color: white;
    cursor: pointer;

    &:hover {
      background-color: lavenderblush;
      transition: 0.3s;
    }

    p {
      position: relative;
      top: 2px;
      text-align: left;
      padding-left: 18px;

      font-size: 15px;
      font-weight: 400;
    }
  }
}
.region-wrapper::-webkit-scrollbar {
  display: none;
}