.mycarrot-wrapper {
  position: absolute;

  width: 100%;
  min-width: 280px;
  max-width: 450px;
  height: calc(100% - 104px);
  top: 41px;

  background: #f2f3f7;

  overflow-y: scroll;
  -ms-overflow-style: none;

  .profile-wrapper {
    width: 100%;
    height: 230px;

    background: white;
  }

  .settings {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    width: 100%;
    @media screen and (max-height: 792px) {
      height: 450px;
    }
    @media screen and (min-height: 792px) {
      height: calc(100% - 238px);
    }

    background: white;

    button {
      display: flex;
      width: 100%;
      height: 75px;
      background: white;

      border: none;
      cursor: pointer;

      &:hover {
        background: lavenderblush;
        transition: 0.3s;
      }

      img {
        position: relative;
        width: 33px;
        height: 33px;

        top: 21px;
        left: 13px;
      }

      p {
        position: relative;
        margin: 0;

        top: 28px;
        left: 41px;

        font-size: 16px;
      }
    }
  }
}

.mycarrot-wrapper::-webkit-scrollbar{
  display: none;
}