.wrapper {
  position: fixed;

  width: 100%;
  min-width: 280px;
  max-width: 450px;
  height: 100%;
  min-height: 568px;
  max-height: 900px;
  background: white;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;

    .back {
      position: relative;
      border: none;
      width: 40px;
      left: 5px;
      background: white;

      img {
        position: relative;
        top: 9px;
        left: 9px;
        width: 22px;
      }
    }

    p {
      position: relative;
      margin-top: 9px;
      left: 17px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .upper-tabs {
    position: absolute;
    display: flex;
    width: 100%;
    height: 42px;
    top: 40px;

    .tab {
      height: 40px;
      color: #777777;
    }
    .entire {
      width: 33.3%;
    }
    .on-sale {
      width: 33.4%;
    }
    .sold {
      width: 33.3%;
    }
    .selected {
      color: black;
    }

    .underline {
      position: absolute;
      bottom: 0;
      height: 2px;
      border: 1px solid darkslategrey;
      box-sizing: border-box;
      transition-duration: 0.2s;
    }
    .underline.one {
      width: 33.3%;
      left: 0;
    }
    .underline.two {
      width: 33.4%;
      left: 33.3%;
    }
    .underline.three {
      width: 33.3%;
      left: 66.7%;
    }
  }
}