body {
  background: rgba(241, 241, 241, 255);
}

.login-wrapper {
  position: fixed;
  min-width: 280px;
  max-width: 450px;
  width: 100%;

  height: 100%;
  min-height: 568px;
  max-height: 900px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;

  .daangn-logo {
    position: absolute;
    width: 160px;
    top: 60px;
    left: calc(50% - 85px);
  }
  button {
    cursor: pointer;
  }
  form {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 180px;
    top: 145px;
    left: 0%;
    margin: 5px 0 0;
    padding: 0;

    input {
      width: 70%;
      height: 50px;
      margin-bottom: 15px;
      padding: 0 9px 0 9px;
      border: 1px solid #e5e5e5;
      background-color: #fff;
      font-size: 15px;
      transition: border 0.2s ease-in-out;
    }

    .login-input-username {
    }
    .login-input-password {
    }
    .login-button {
      width: 75%;
      height: 30px;
      background: rgba(255, 143, 69, 255);
      border: none;
      border-radius: 3px;

      font-family: sans-serif;
      font-weight: 500;
      color: white;
    }
  }

  .social-login-button {
    position: absolute;
    width: 75%;
    height: 30px;
    top: 332px;
    border: none;
    background: yellow;
    left: 12.5%;
    border-radius: 3px;

    font-family: sans-serif;
    font-weight: 500;

    img {
      position: absolute;
      width: 26px;
      height: 26px;
      left: 30%;
      top: 2px;
      vertical-align: middle;
    }
    span {
      position: absolute;
      left: 42%;
      top: 8px;
    }
  }
  .kakao {
  }
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.sign-up-wrapper {
  position: absolute;

  width: 270px;
  height: 30px;

  left: calc(50% - 135px);
  top: 377px;

  span {
    position: absolute;
    left: 5%;

    font-size: 18px;
    font-family: "Nanum Pen Script", cursive;
    color: rgba(255, 143, 69, 255);
  }

  .sign-up-button {
    position: absolute;
    right: 4%;

    font-size: 14px;
    border: none;
    background: white;
    color: blue;
  }
}
