.box {
  position: absolute;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: white;
  border-radius: 15px;

  z-index: 2;

  display: block;
  padding: 5%;

  .title {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: relative;
    font-size: 16px;
    margin-bottom: 0;
  }
  .subTitle{

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: relative;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .contents {
    width: 90%;
    position: relative;
    font-size: 11px;
    margin: 5px auto 20px;
  }
  .confirmButton {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    height: 35px;

    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 10px;

    background: #ff8a3d;
    cursor: pointer;
  }
  .confirmButton:active {
    border-style: solid;
    transform: scale(0.95, 0.95);
  }
  .cancelButton {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    height: 35px;

    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 10px;

    background: white;
    cursor: pointer;
  }
  .cancelButton:active {
    border-style: solid;
    transform: scale(0.95, 0.95);
  }
  .textBox{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    height: 35px;

    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;

    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 10px;

    background: white;
    cursor: default;
  }
  .priceBox{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    height: 35px;
    left: 5%;

    text-align: center;
    line-height: 35px;
    font-size: 14px;

    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 10px;

    background: white;
  }
  .messageBox{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    height: 100px;
    left: 5%;

    text-align: center;
    line-height: 35px;
    font-size: 14px;

    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 10px;

    background: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }
  .messageBox::-webkit-scrollbar {
    display: none;
  }
  .priceText{
  text-align: center;
    width: 90%;
    position: relative;
    font-size: 11px;
    margin: 5px auto 20px;
    font-weight: bold;
    color: #555555;
  }
}
