.box {
  position: absolute;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: white;
  border-radius: 15px;

  z-index: 3;

  display: block;
  padding: 5%;
  .profileContainer{
    position: relative;
    width: 100%;
    display: flex;

    &:hover{
      background: lavenderblush;
      transition: 0.3s;
    }

    .thumbnail {
      position: relative;
      width: 70px;
      aspect-ratio: 1;
      object-fit: cover;
      background-position: center;
      margin-top: 10px;
      margin-right: 10px;
    }

    .dataContainer {
      height: 70px;
      position: relative;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .firstLine {
        position: relative;

        .title {
          position: relative;
          color: black;
          font-size: 18px;
          font-weight: bold;
          margin: 0;
          padding: 0;
        }
      }

      .secondLine {
        position: relative;
        display: flex;
        color: #777777;
        font-size: 13px;

        .region {
          position: relative;
          left: 0;
          margin-top: 5px;
          margin-bottom: 0;
        }

        .time {
          position: relative;
          left: 0;
          margin-top: 5px;
          margin-bottom: 0;
          margin-left: 5px;
        }

        .price {
          position: relative;
          left: 0;
          color: black;
          font-weight: bolder;
        }
      }

    }}

  .title {
    color: black;
    width: 90%;
    left: 5%;
    position: relative;
    font-size: 16px;
    padding: 0 5px;
    margin-top: 10px;
  }
  .subTitle{
    color: black;
    width: 90%;
    left: 5%;
    position: relative;
    font-size: 11px;
    font-weight: bold;
    margin: 5px 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  .contents {
    width: 90%;
    position: relative;
    font-size: 12px;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px 0;
    left: 5%;
  }
  .input{
    position: relative;
    width: 88%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    left: 5%;

    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;

    background: white;
  }
  .confirmButton {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    height: 35px;

    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 10px;

    background: #ff8a3d;
    cursor: pointer;
  }
  .confirmButton:active {
    border-style: solid;
    transform: scale(0.95, 0.95);
  }
  .cancelButton {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    height: 35px;

    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 10px;

    background: white;
    cursor: pointer;
  }
  .cancelButton:active {
    border-style: solid;
    transform: scale(0.95, 0.95);
  }
  .textBox{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    height: 35px;

    text-align: center;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;

    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 10px;

    background: white;
    cursor: default;
  }
  .priceBox{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    height: 35px;
    left: 5%;

    text-align: center;
    line-height: 35px;
    font-size: 14px;

    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 10px;

    background: white;
  }
  .messageBox{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    height: 100px;
    left: 5%;

    text-align: center;
    line-height: 35px;
    font-size: 14px;

    border-width: 1px;
    border-radius: 5px;
    border-color: #e5e5e5;
    border-style: solid;
    margin-bottom: 10px;

    background: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }
  .messageBox::-webkit-scrollbar {
    display: none;
  }
  .priceText{
  text-align: right;
    left: 0;
    width: 90%;
    position: relative;
    font-size: 11px;
    margin: 5px auto 20px;
    font-weight: bold;
    color: #555555;
  }
}
